@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* CSS Document */

body {
    background-color: #D8D7CA;
}

audio {
    width: 300px;
    padding: 10px;
}

h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

h3 {
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2.5em;
    font-weight: bold;
    color: #070A0A;
}

h5 {
    text-shadow: 13px 12px 50px #070A0A;
}

#carousel-indicators {
    margin-top: 6em;
}

.subtitle {
    text-align: justify;
    font-family: 'Roboto', sans-serif;

}

.bg-color {
    background-image: linear-gradient(#151626, #222340);
    box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 0.055);
}

.bg-space {
    background-color: #151626;
}

.bg-pictures {
    background-color: #cccccc;
}

.text-font {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6em;
    color: #F2F2F2;
}

.text-font:hover {
    color: #cccccc;
    transition: color 0.3s;
}

.carousel-control-prev,
.carousel-control-next {
  text-decoration: none;
  color: #070A0A;
  font-size: 1.3em;
}

.custom-indicators {
    list-style: none;
}

.text-space {
    width: 85%;
}

.image-song {
    margin-bottom: 10em;
}

.control-pause {
    font-size: 2em;
    margin-bottom: 1.8em;
}

.bg-playlist {
    background-image: linear-gradient(#383838, #1d1d1d);
}

.legend-music {
    color: #afadad;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

@media (max-width: 768px) {

    .navbar-toggler {
       margin-right: 15px;
    }

    audio {
        display: none;
    }

    .vr {
        display: none;
    }

    ul {
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.9em;
    }

    .text-space {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #carousel-indicators {
        margin-top: 9em;
    }

    #frequencia {
        width: 350px;
    }

    #playlist {
        width: 350px;
        margin-bottom: 80px;
    }

    .control-pause {
        font-size: 1em;
        margin-bottom: 5em;
    }

    .control {
        margin-bottom: 2em;
    }

    .legend-music {
        font-size: 0.8em;
    }

    .MeB {
        font-size: 0.8em;
    }


}

  


  

